.expand_center {
  animation-name: img-wrap;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
}
@keyframes img-wrap {
  0% {
    opacity: 0;
    clip-path: circle(0 at 50% 50%);
  }
  50% {
    opacity: 1;
  }
  100% {
    clip-path: circle(100% at 50% 50%);
  }
}
// fade-in,out
.fade_in {
  animation-name: fadeInAnime;
  animation-duration: 0.75s;
  animation-timing-function: ease-out;
}
@keyframes fadeInAnime {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
  }
}
.fade_out {
  animation-name: fadeOutAnime;
  animation-duration: 0.75s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
@keyframes fadeOutAnime {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}

.slide_in {
  animation-name: slideInAnime;
  animation-duration: 1s;
}
@keyframes slideInAnime {
  0% {
    opacity: 0;
    transform: translateX(-5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* スライドショー */
// 共通のアニメーション
.slide-show-settings {
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

// 左からスライド
.slide-left-in {
  animation-name: slideLeftInAnime;
  @extend .slide-show-settings;
}
@keyframes slideLeftInAnime {
  0% {
    opacity: 0;
    transform: translate(-100%, 10%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(0) scale(1);
  }
}
// 左にスライド
.slide-left-out {
  animation-name: slideLeftOutAnime;
  @extend .slide-show-settings;
}
@keyframes slideLeftOutAnime {
  0% {
    opacity: 1;
    transform: translate(0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-100%, 10%) scale(0.5);
  }
}

// 右からスライド
.slide-right-in {
  animation-name: slideRightInAnime;
  @extend .slide-show-settings;
}
@keyframes slideRightInAnime {
  0% {
    opacity: 0;
    transform: translate(0, 10%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-100%, 0) scale(1);
  }
}

// 右にスライド
.slide-right-out {
  animation-name: slideRightOutAnime;
  @extend .slide-show-settings;
}
@keyframes slideRightOutAnime {
  0% {
    opacity: 1;
    transform: translate(-100%, 0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(0, 10%) scale(0.5);
  }
}

.display-none {
  display: none;
}

/* キャラクターのアニメーション */
// 通常
.character-move-normal {
  animation-name: characterMoveNormal;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes characterMoveNormal {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(0.5deg) scale(1.01) translateY(5px);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

// 喜び
// 怒り
// 悲しみ

/* ホバー時にアンダーラインを引く */
.hover_text_underline {
  display: flex;
  list-style: none;
}

.hover_text_underline li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
}
.hover_text_underline li a {
  position: relative;
}

.hover_text_underline li.current a,
.hover_text_underline li a:hover {
  color: #00aa99;
  font-weight: 600;
}

.hover_text_underline li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 2px;
  background: #00aa99;
  transition: all 0.2s;
  transform: scale(0, 1);
  transform-origin: left top;
}
.hover_text_underline li.current a::after,
.hover_text_underline li a:hover::after {
  transform: scale(1, 1);
}

/* 文字の下半分にマーカー風の線を引く */
.text_yellow_underline {
  background: linear-gradient(transparent 75%, #ffce5b 75%);
  display: inline-block;
}
