.fade_in {
  animation-name: fadeInAnime;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}
@keyframes fadeInAnime {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
  }
}

.fade_out {
  animation-name: fadeOutAnime;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
@keyframes fadeOutAnime {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
    display: none;
  }
}

/* スライドショー */
// 共通のアニメーション
.animation-settings {
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

// 左からスライド
.slide-left-in {
  animation-name: slideLeftInAnime;
  @extend .animation-settings;
}
@keyframes slideLeftInAnime {
  0% {
    opacity: 0;
    transform: translate(-100%, 10%) scale(0.6);
  }
  100% {
    opacity: 1;
    transform: translate(0) scale(1);
  }
}
// 左にスライド
.slide-left-out {
  animation-name: slideLeftOutAnime;
  @extend .animation-settings;
}
@keyframes slideLeftOutAnime {
  0% {
    opacity: 1;
    transform: translate(0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-100%, 10%) scale(0.6);
  }
}

// 右からスライド
.slide-right-in {
  animation-name: slideRightInAnime;
  @extend .animation-settings;
}
@keyframes slideRightInAnime {
  0% {
    opacity: 0;
    transform: translate(0, 10%) scale(0.6);
  }
  100% {
    opacity: 1;
    transform: translate(-100%, 0) scale(1);
  }
}

// 右にスライド
.slide-right-out {
  animation-name: slideRightOutAnime;
  @extend .animation-settings;
}
@keyframes slideRightOutAnime {
  0% {
    opacity: 1;
    transform: translate(-100%, 0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(0, 10%) scale(0.6);
  }
}

.display-none {
  display: none;
}
